<main class="video-grid">
  <div class="video-grid-content">
    <div class="text">
      <h1 class="title">Where Ideas Take Shape</h1>
      <p class="paragraph">
        Explore the projects where our team combines creativity and technical expertise to deliver
        high- <br />
        quality, production-ready visuals
      </p>
    </div>
    <div class="video-grid-cards">
      <video src="assets/videos/Buu.mp4" autoplay muted loop playsinline></video>
      <video src="assets/videos/Deadbeat_Video.mp4" autoplay muted loop playsinline></video>
      <video src="assets/videos/Env.mp4" autoplay muted loop playsinline></video>
      <video src="assets/videos/Watch_thumb.mp4" autoplay muted loop playsinline></video>
      <video src="assets/videos/tesla.mp4" autoplay muted loop playsinline></video>
      <video src="assets/videos/Novatune.mp4" autoplay muted loop playsinline></video>
      <video src="assets/videos/Kiosk_thumb.mp4" autoplay muted loop playsinline></video>
      <video src="assets/videos/Evoke Marketing Video.mp4" autoplay muted loop playsinline></video>
      <video src="assets/videos/3D_Reel_2.mp4" autoplay muted loop playsinline></video>
    </div>
  </div>
</main>
