<main class="tools-expertise">
  <div class="row">
    <div class="left-col">
      <div class="img" #floatingImg (mousemove)="onMouseMove($event)">
        <img src="assets/images/Design_figure_v01-220x193.png" alt="" />
      </div>
    </div>
    <div class="right-col">
      <h1 class="title">Our Tools & Expertise</h1>
      <div class="contents-row">
        <div class="contents-col">
          <ul class="list">
            <li class="list-text">- 3D modeling</li>
            <li class="list-text">- Texturing & Shading</li>
            <li class="list-text">- Rigging</li>
            <li class="list-text">- 3D Animation</li>
            <li class="list-text">- Real-Time Rendering</li>
            <li class="list-text">- Environment Setup</li>
            <li class="list-text">- Cloth Simulation</li>
          </ul>
        </div>

        <div class="contents-col">
          <ul class="list">
            <li class="list-text">- Virtual Production</li>
            <li class="list-text">- Motion Graphics</li>
            <li class="list-text">- Composition</li>
            <li class="list-text">- VFX</li>
            <li class="list-text">- Video Production</li>
            <li class="list-text">- Quick Prototyping</li>
            <li class="list-text">- Facial Animation</li>
          </ul>
        </div>

        <div class="contents-col">
          <ul class="list">
            <li class="list-text">- Physics-Based Animation</li>
            <li class="list-text">- Character Motion</li>
            <li class="list-text">- Web-based 3D</li>
            <li class="list-text">- 3D Interactive Web Elements</li>
            <li class="list-text">- PBR Texturing</li>
            <li class="list-text">- Material Creation</li>
            <li class="list-text">- Character Creation</li>
          </ul>
        </div>
      </div>
      <div class="logo-row">
        <div class="bg-white">
          <img src="assets/images/Blender.png" alt="" />
        </div>
        <div class="bg-white">
          <img src="assets/images/Unreal.png" alt="" />
        </div>
        <div class="bg-purple">
          <img src="assets/images/After-Effects.png" alt="" />
        </div>
        <div class="bg-red">
          <img src="assets/images/Substance-filter.png" alt="" />
        </div>
        <div class="bg-white-v2">
          <img src="assets/images/Marvelous.png" alt="" />
        </div>
        <div class="bg-blue">
          <img src="assets/images/Cascadeur.png" alt="" />
        </div>
        <div class="bg-white">
          <img src="assets/images/Spline.png" alt="" />
        </div>
        <div class="bg-green">
          <img src="assets/images/iClone.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</main>
