<main class="creative-vision">
  <div class="row">
    <div class="left-col">
      <h1 class="title">What we do</h1>
      <h2 class="sub-title">
        We Turn Creative <br />
        Vision Into Reality
      </h2>
      <p class="paragraph">
        From Animation to real-time 3D, we bring concepts to life with <br />
        precision, artistry and production-ready execution
      </p>
      <div class="scroll">
        <h3 class="scroll-title">Animation Production Support</h3>
        <div class="sub-text">
          <div class="sub-text-row">
            <div class="text-col">
              <div class="border">
                <span class="text">Environment adn scene building</span>
              </div>
              <div class="border">
                <span class="text">Asset optimization for compositing</span>
              </div>
              <div class="border">
                <span class="text">Seamless integration with Unreal Engine, Blender</span>
              </div>
            </div>
            <div class="sub-text-row-col">
              <div class="border">
                <span class="text">Camera layout, lighting % rendering passes</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-col">
      <div class="img-frame">
        <img src="assets/images/animation-test.png" alt="" />
      </div>
    </div>
  </div>
</main>
