<main class="department">
  <div class="row">
    <div class="left-col">
      <div class="left-items-col">
        <div class="left-container">
          <img src="assets/images/Fast.png" alt="" />
          <span class="left-container-title">fast</span>
          <p class="left-container-p">
            Fast Turnarounds - from concept to <br />
            render in 48-72 hours
          </p>
        </div>
        <div class="left-container-2">
          <img src="assets/images/Flexible.png" alt="" />
          <span class="left-container-title">flexible</span>
          <p class="left-container-p">Flexible scaling for overflow projects or tight deadlines</p>
        </div>
      </div>
    </div>

    <div class="mid-content">
      <div class="text-start">
        <span class="first-statement"> think of us <br />as your </span>
        <span class="second-statement">In-house</span>
        <span class="third-statement"> 3D Department</span>
      </div>

      <span class="fourth-statement"
        >without the <br />
        overhead</span
      >
    </div>

    <div class="right-col">
      <div class="right-items-col">
        <div class="right-container">
          <img src="assets/images/Organize.png" alt="" />
          <span class="right-container-title">organize</span>
          <span class="right-container-p"
            >Flexible scaling for overflow <br />projects or tihg deadlines</span
          >
        </div>
        <div class="right-container-2">
          <img src="assets/images/Competitive.png" alt="" />
          <span class="right-container-title">Competitive</span>
          <span class="right-container-p"
            >Flexible scaling for overflow <br />projects or tihg deadlines</span
          >
        </div>
      </div>
    </div>
  </div>
</main>
