.consultation {
  min-height: 100vh;
  background-color: #0c0116;
  padding: 130px 230px;

  .background-img {
    background-image: url('/assets/images/creative_partner_background.png');

    width: 100%;
    height: 494px;

    border-radius: 40px;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 20px;

    .consultation-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 60px;
      gap: 20px;

      .title {
        font-size: 64px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: white;
      }

      .paragraph {
        font-size: 18px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: white;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 213px;
        width: 100%;
        max-width: 213px;
        border-radius: 46px;
        padding: 13px 18px;

        border: none;
        outline: none;
        box-shadow: none;

        background: linear-gradient(135deg, #07d5ff 0%, #2240d1 83.11%);

        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-weight: 700;

        cursor: pointer;
        &:hover {
          background: linear-gradient(135deg, #07d5ff 0%, #01cff8 100%);
        }
      }
    }
  }
}
