<main class="hero">
  <video autoplay muted loop playsinline class="background-video">
    <source src="/assets/videos/gradie.mp4" type="video/mp4" />
  </video>
  <div class="overlay">
    <div class="text-content-col">
      <h1 class="content-title">
        Your Creative Production Partner <br />
        for World-Class 3D Design
      </h1>

      <p class="paragraph">
        We help animation studios and creative agencies bring their ideas to life through <br />
        photorealistic 3D visuals, environments, and animation support. <br />We blend art
        direction, storytelling and techincal precision to match your production <br />
        pipeline delivering asssets that are beautiful, efficient and ready to animate
      </p>
    </div>

    <div class="bottom-content">
      <div class="text-col">
        <span class="text-title">design with vision</span>
        <span class="text-title">create with precision</span>
      </div>

      <p class="bottom-content-paragraph">
        Our mission is to push the boundaries of digital creation <br />delivering high-fidelity
        animations and 3D visuals that move <br />audiences and strengthen brands.
      </p>
    </div>
  </div>
</main>
