.hero {
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  color: white;
  padding: 105px 230px;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: -2;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: -1;
  }

  .overlay {
    position: relative;
    z-index: 1;
  }

  .text-content-col {
    padding-bottom: 30px;

    .content-title {
      font-size: 60px;
      text-align: center;
      padding-bottom: 30px;
    }

    .paragraph {
      font-size: 22px;
      text-align: center;
    }
  }

  .bottom-content {
    display: flex;
    align-items: flex-end;
    height: 130px;
    justify-content: space-between;

    .text-col {
      display: flex;
      flex-direction: column;

      .text-title {
        font-size: 24px;
        text-transform: uppercase;
      }
    }

    .bottom-content-paragraph {
      font-size: 18px;
      text-align: left;
      font-weight: 400;
    }
  }
}
